
@{
    ViewBag.Title = "Index";
    Layout        = "~/Views/Shared/_GLSLayout.cshtml";
}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 div-margin-large-top-bottom">
                    <h1>Goal Line Stand</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">New Game</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">Multiplayer Game</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">Load Game</a>
                        </div>
                    </div>
                    <div class="row"><div class="div-margin-large-top-bottom"></div></div>
                    <div class="row"><div class="div-margin-large-top-bottom"></div></div>
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">Challenges</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">Tutorials</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 div-margin-small-top-bottom">
                            <a class="btn btn-lg btn-primary">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/imgs/Goal line stand fox Saints vs Falcons.png"
                         class="img-responsive">
                </div>
            </div>
        </div>
    </div>


